body{
    font-family: Arial, DFKai-sb;
    background-color: #97CBFF;
    overflow-y: auto; 
    overflow-x: auto;
	max-height: 1080;
	max-width: 1920;
}

.logo{
	position: relative;
	right: 450px;
	height: 120px;
	width: auto;
	z-index: 2;
}

.logo img{
	width: 180px;
	height: auto;
}

.bg{
    background-color: #000000;
    height: 600px;
    width: 900px;
	z-index: 1;
}
